body {
	margin: 0;
	padding: 0;
	background-color: #B2B0B0;
}

#menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #181818;
	z-index: 70;
	box-shadow: 0px 3px 2px #808080;
	cursor: default;
}


#menu div {
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	font-weight: bold;
	color: #FF7E00;
}

#menu div:hover {
	background-color: #282828;
}

#nacl_module {
	position: absolute;
	opacity: 0.0;
	left: 50%;
	top: 50%;
	width: 800px;
	height: 600px;
	margin-left: -400px;
	margin-top: -300px;
	z-index: 50;
	border: solid 1px black;
	box-shadow: 3px 3px 2px #808080;
}

#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	margin-left: -150px;
	margin-top: -20px;
	z-index: 100;
	text-align: center;
	background-color: rgba(100, 100, 100, 1);
	border: solid 1px black;
	padding: 4px;
	color: black;
}
